body {
    background-color: rgb(231, 225, 214);
    color: #1050aa;
    margin: 20px;
    padding: 20px;
    font-family: Verdana, sans-serif;
}

h1 {
    color: #1050aa;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    text-align: center;
    border-bottom: 2px dotted darkslateblue;
    padding-bottom: 5px;
}

#description {
    color: firebrick;
}

#description p::first-letter {
    font-size: 2rem;
}

#description a {
    color: darkviolet;
    text-decoration: underline;
}

.box {
    border: #f00 10px ridge;
    background-color: #ff0;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

#attrction-box {
    border: 2px dotted #483D8B;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    color: green;
}

h2 {
    text-align: center;
}

ol {
    font-family: Georgia, serif;
    font-size: 1.1rem;
    line-height: 1.6;
}

.italic {
    font-style: italic;
}

.attraction {
    color: tomato;
    text-decoration: underline;
    font-weight: bold;
}
